<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue Writing!</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Update a Blog!</h1>
    <h2>Title: <%= title %></h2>
    <h3>Blog Number:<%= topic_num %></h3>
    <form action="/updated" method="POST">
        <input type="hidden" name="title" value="<%= title %>">
        <label for="content">Content</label>
        <textarea name="content" class="blog-input" placeholder="Content..." ><%= previous_content %></textarea>
        <input type="submit" value="Upload!" />
    </form>

    <button onclick="location.href='/';" class="button2">Home</button>
    <%- include("partials/footer.ejs") %>
</body>
</html>